body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  color: #414141;
}
.Container {
  display: flex;
  justify-content: center;

  width: 90vw;
  max-width: 1500px;
}
.Page {
  display: flex;
  justify-content: center;
  width: 100%;
}
